<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img class="center" height="300" width="300" alt="" src="../../image/logo.png"/>
    <title>Удаление аккаунта на StartHub</title>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
</head>
<body>
<div style="max-width: 600px; margin: 0 auto; padding: 20px;">
    <h2 style="text-align: center;">
        Удаление аккаунта на StartHub
    </h2>
    <h2>Удаление аккаунта на StartHub</h2>
    <p>Уважаемый(ая) <span th:text="${fullName}"></span>,</p>
    <p>Мы подтверждаем, что ваш аккаунт на платформе StartHub был успешно удален.</p>
    <p>Если у вас возникли какие-либо вопросы или вы хотите вернуть свой аккаунт, свяжитесь с нашей службой поддержки.</p>
    <p>Благодарим вас за использование нашей платформы.</p>
    <p>С уважением,<br>Команда StartHub</p>
</div>
</body>
</html>