<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля StartHub</title>
</head>
<body>
<div style="max-width: 600px; margin: 0 auto; padding: 20px;">
    <h2>Восстановление пароля StartHub</h2>
    <p>Вы запросили сброс пароля на платформе развития стартапов StartHub. Для завершения процедуры восстановления, пожалуйста, перейдите по следующей ссылке:</p>
    <p style="font-size: 24px; font-weight: bold; text-align: center;">
        <a th:href="${confirmationUrl}"></a>
    </p>
    <p>Если вы не запрашивали сброс пароля, пожалуйста, проигнорируйте это сообщение.</p>
    <p>С уважением,<br>Команда StartHub</p>
</div>
</body>
</html>
