<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение регистрации на StartHub</title>
</head>
<body>
<div style="max-width: 600px; margin: 0 auto; padding: 20px;">
    <h2>Подтверждение регистрации на StartHub</h2>
    <p>Спасибо за регистрацию на платформе развития стартапов StartHub. Для завершения регистрации, пожалуйста, перейдите по следующей ссылке:</p>
    <p style="font-size: 16px; font-weight: bold; text-align: center;">
        <a th:attr="href=${confirmationUrl}">Подтвердить регистрацию</a>
    </p>
    <p>Если вы не регистрировались на нашей платформе, пожалуйста, проигнорируйте это сообщение.</p>
    <p>С уважением,<br>Команда StartHub</p>
</div>
</body>
</html>
